@font-face {
    font-family: 'roboto';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/Roboto-Regular-webfont.eot');
    src: url('/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto-Regular-webfont.woff2') format('woff2'),
         url('/fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('/fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
}

:root {
    --background-color: #EEE;
    --text-color: #000;
    --header-color: #BBB;
  }
  
/* dark theme support */
/* @media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000;
        --text-color: #BBB;
        --header-color: #222;
    }
} */

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'roboto';
}

header {
    background-color: var(--header-color);
}